* {
	background-color: rgb(207 208 216);
	box-sizing: border-box;
	margin:0;
	padding:0;
}
h1 {
	margin: 40px;
	text-align:center;

}
div.menu {
	float: left;
	width:30%;
	background: red;
	margin:10px;
	border: 2px solid black;
	

}

section {
	position: relative;
	border: 2px solid black;
	padding:10px;
	float: right;
	margin:0px;
	

}
p {
	position: relative;
	margin-bottom: 20px;
	padding:10px;
	background-color: green;
	
	clear: both;
}
.dish {
	
}

#paneer {
	margin-left: auto;
	
}

#malai {
	
}

#dal {

	
}